.Preview {
  border: 5px solid var(--black);
  border-radius: 1rem;
  background-color: var(--indigo);
  box-shadow: 10px 10px 0 var(--blackAlpha);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transition: all ease 0.3s;
  transform-origin: 0 0;
}

.Preview .icon path {
  fill: var(--white);
}

.Preview  .icon {
  margin: 2rem;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1) brightness(0.8);
  width: 100%;
  height: 100% !important;
}

.preview-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.preview-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: darken;
  background-color: #EF6690;
  z-index: 1;
}

.preview-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: lighten;
  background-color: #4C51BF;
  z-index: 1;
}

.shape-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.svg-shapes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100% !important;
}

.svg-shapes circle {
  fill: transparent;
  stroke: url(#bggrad);
  stroke-linecap: round;
  animation: bgmove 200s linear infinite;
  mix-blend-mode: overlay;
  opacity: 0.6;
}

@keyframes bgmove {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
