.Switcher {
  position: relative;
  display: inline-block;

}

.Switcher select:hover, .Switcher select:focus {
  cursor: pointer;
  border-color: var(--indigo);
}

select:focus {
  outline: none;
}

.Switcher:hover:after {
  color: var(--indigo)
}

.Switcher select {
  border: 3px solid var(--black);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  appearance: none;
  position: relative;
  transition: all ease 0.25s;
  padding-right: 2.5rem;
}

.Switcher:after {
  content: '▼';
  position: absolute;
  display: block;
  z-index: 10;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 0.7rem;
}
